<div class="jumbotron mt-4">
    <h1 class="display-4">Becas App con NodeJs y MongoDb</h1>
    <p class="lead">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Magnam, aut nemo sint quo suscipit officiis.</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Atque consectetur beatae tempore nesciunt nihil maiores quis perferendis sit voluptatem, eveniet nisi? Recusandae totam enim hic consequatur. Earum sapiente eligendi sunt?</p>
    <a href="https://www.ual.es" class="btn btn-primary">Ual</a>
</div>  

    